<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phaser Basics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header class="text-center">
            <a href="https://phaser.io" target="_blank"><img src="https://phaser.io/images/logo/logo-download.png" alt="Phaser"></a>
            <h1 class="text-center">Phaser 3 - First Steps</h1>
        </header>
        <section class="list-group">
            <a href="/settings" class="list-group-item list-group-item-action">1. Settings</a>
            <a href="/assets" class="list-group-item list-group-item-action">2. Assets</a>
            <a href="/world" class="list-group-item list-group-item-action">3. World</a>
            <a href="/platforms" class="list-group-item list-group-item-action">4. Platforms</a>
            <a href="/player" class="list-group-item list-group-item-action">5. Player</a>
            <a href="/physics" class="list-group-item list-group-item-action">6. Physics</a>
            <a href="/controls" class="list-group-item list-group-item-action">7. Controls</a>
            <a href="/stars" class="list-group-item list-group-item-action">8. Stars</a>
            <a href="/score" class="list-group-item list-group-item-action">9. Score</a>
            <a href="/bombs" class="list-group-item list-group-item-action">10. Bombs</a>
        </div>
    </div>
</body>
</html>