<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/settings">1. settings</a></li>
        <li><a href="/assets">2. assets</a></li>
        <li><a href="/world">3. world</a></li>
        <li><a href="/platforms">4. platforms</a></li>
        <li><a href="/player">5. player</a></li>
        <li><a href="/physics">6. physics</a></li>
        <li><a href="/controls">7. controls</a></li>
    </ul>
</body>
</html>